/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
  ## Links
  ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
  ## Comments
# Infinite scroll
# Media
  ## Captions
  ## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
:root {
  --color1: #295d5a/* color1 */;
  --color2: #ad5c3a/* color2 */;
  --color3: #a49d7b/* color3 */;
  --background1: #effcfb/* background1 */;
  --background2: $background2/* background2 */;
  --text-base: #221a11/* text-base */;
  --heading-base: #221a11/* heading-base */;
  --font1: 'Lora', serif/* font1 */;
  --font2: 'Lato', sans-serif/* font2 */;
  --F-h1: 2.5rem/* F-h1 */;
  --F-h2: 1.5rem/* F-h2 */;
  --F-h3: 1rem/* F-h3 */;
  --F-h4: .8rem/* F-h4 */;
  --F-h5: .8rem/* F-h5 */;
  --F-h6: .8rem/* F-h6 */;
  --F-p: .7rem/* F-p */;
  --fontsp: .7rem/* F-p */;
  --fontgen: .7rem/* F-p */;
  font-size: calc(15px + (16 - 14) * ((100vw - 300px) / (1000 - 300))); }


/* NAVBAR BRAND ICON */
.navbar-brand-icon .element_inner {
  fill: var(--color1);
}

.navbar-brand-icon .element_outer {
  fill: var(--color2);
}

.navbar-brand-icon .element_font {
  fill: var(--background1);
}

.navbar-brand-icon .title_brand,
.navbar-brand-icon .title_brand tspan {
  font-family: var(--font1);
}

.navbar-brand-icon .slogan_brand,
.navbar-brand-icon .slogan_brand tspan {
  font-family: var(--font2);
}
/* NAVBAR BRAND ICON */

body {
  background-image: url('img/dummy/background.jpg')!Important;
}


	
::-webkit-scrollbar {
  width: 3px; }

::-webkit-scrollbar-track {
  background: #ddd; }

::-webkit-scrollbar-thumb {
  background: var(--color1); }

html {
  height: 100%; }

body {
  height: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background1);
  min-height: 100%;
  color: var(--text-base);
  margin: 0 auto;
  max-width: 2100px; }

html {
  font-family: var(--font1);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  /* background-color: #fff; */ }

#main_page {
  background-color: var(--background1); }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: var(--font2);
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  color: var(--text-base);
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    color: var(--text-base);
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    color: var(--text-base);
    height: auto; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    color: var(--text-base);
    -webkit-appearance: none; }

fieldset {
  color: var(--text-base);
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

textarea {
  color: var(--text-base);
  overflow: auto; }

optgroup {
  color: var(--text-base);
  font-weight: var(--fontweight2); }

table {
  color: var(--text-base);
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

span {
  color: var(--text-base); }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: inherit;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1 {
  font-family: var(--font1);
  font-size: var(--F-h1);
  font-weight: normal;
  color: var(--heading-base); }

h2 {
  font-family: var(--font1);
  font-size: var(--F-h2);
  font-weight: normal;
  color: var(--heading-base); }

h3 {
  font-family: var(--font1);
  font-size: var(--F-h3);
  font-weight: normal;
  color: var(--heading-base); }

h4 {
  font-family: var(--font1);
  font-size: var(--F-h4);
  font-weight: normal;
  color: var(--heading-base); }

h5 {
  font-family: var(--font1);
  font-size: var(--F-h5);
  font-weight: normal;
  color: var(--heading-base); }

h6 {
  font-family: var(--font1);
  font-size: var(--F-h6);
  font-weight: normal;
  color: var(--heading-base); }

a {
  background-color: transparent;
  font-size: var(--F-p); }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: var(--fontstyle1); }

p {
  font-family: var(--font2);
  font-size: var(--F-p);
  line-height: 1.7;
  color: var(--text-base); }

address {
  margin: 0 0 1.5em; }

pre {
  background: #2C3E50;
  font-family: var(--font2);
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  font-size: var(--F-p); }

code, kbd, tt, var {
  font-size: var(--F-p);
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #2C3E50;
  cursor: help; }

mark, ins {
  background: #FFFFFF;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote {
  font-size: 1.4em;
  margin: 50px auto;
  font-family: var(--font2);
  font-style: italic;
  color: var(--text-base);
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid var(--color1);
  line-height: 1.6;
  position: relative;
  background: #EDEDED; }
  blockquote::before {
    font-family: var(--font1);
    content: "\201C";
    color: var(--color1);
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px; }
  blockquote::after {
    content: ''; }
  blockquote span {
    display: block;
    color: var(--text-base);
    font-style: normal;
    font-weight: bold;
    margin-top: 1em; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

* {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }
  *:before, *:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit; }

body {
  background: var(--background1);
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

hr {
  border: solid 1px;
  color: var(--text-base);
  opacity: .2; }

dt {
  font-weight: bold; }

ul {
  list-style: disc; }
  ul li {
    font-size: var(--F-p); }
  ul > a {
    font-size: var(--F-p); }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus {
  color: #2C3E50; }

textarea:focus {
  color: #2C3E50; }

select {
  border: 1px solid #2C3E50; }

textarea {
  width: 100%; }

input[type="submit"] {
  border: 0;
  padding: 4px 9px;
  color: var(--background1);
  background: var(--color1); }

.search-form {
  position: relative; }
  .search-form label {
    display: block; }
  .search-form .search-field {
    width: 100%;
    padding: 10px;
    border: 0; }
  .search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    border: 0;
    color: var(--color1);
    background: transparent;
    padding: 0 15px; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: var(--color1); }
  a:visited {
    color: var(--text-base); }
  a:hover, a:focus, a:active {
    color: var(--color1); }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* submenu for right navbar */
.navbar .navbar-nav .dropdown-sub-menu {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 99%;
  z-index: 2;
  padding: 6px 0;
  display: none; }
.navbar .dropdown-sub-menu li {
  position: relative;
  list-style-type: none; }
.navbar li.dropdown-sub:hover .dropdown-sub-menu {
  display: block; }
.navbar li.dropdown-sub > .dropdown-item:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-bottom: .3em solid transparent;
  border-right: .3em solid transparent;
  border-left: .3em solid;
  border-top: .3em solid transparent;
  position: absolute;
  top: 37%;
  right: 11px; }
.navbar .navbar-nav.ml-auto .dropdown-sub-menu {
  left: auto;
  right: 99%; }
.navbar .navbar-nav.ml-auto .dropdown-menu {
  text-align: right; }
  .navbar .navbar-nav.ml-auto .dropdown-menu > li > a:after {
    right: auto;
    left: 11px;
    border-bottom: .3em solid transparent;
    border-right: .3em solid;
    border-left: .3em solid transparent;
    border-top: .3em solid transparent; }
.navbar .nav-item:hover .dropdown-menu {
  display: block; }
.navbar .dropdown-menu {
  top: 95%; }
.navbar .nav-item, .navbar .dropdown-menu li {
  position: relative; }

@media screen and (max-width: 992px) {
  .navbar li.dropdown-sub .dropdown-sub-menu {
    display: block;
    position: relative;
    left: 0;
    text-align: left; }
    .navbar li.dropdown-sub .dropdown-sub-menu > li {
      padding-left: 15px;
      margin-bottom: 0; }
  .navbar li.dropdown-sub > .dropdown-item:after {
    right: 11px; }
  .navbar li > .dropdown-item {
    text-align: left; }
  .navbar .navbar-nav.ml-auto .dropdown-sub-menu {
    left: auto;
    right: 0; } }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #000;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after {
  content: "";
  display: table;
  table-layout: fixed; }

.entry-content:before, .entry-content:after {
  content: "";
  display: table;
  table-layout: fixed; }

.comment-content:before, .comment-content:after {
  content: "";
  display: table;
  table-layout: fixed; }

.site-header:before, .site-header:after {
  content: "";
  display: table;
  table-layout: fixed; }

.site-content:before, .site-content:after {
  content: "";
  display: table;
  table-layout: fixed; }

.site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Content
--------------------------------------------------------------*/
.wptg-container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

#content {
  
  max-width: 1200px;
  padding: 0 15px;
  background-color: var(--background1);
  margin: 0 auto; 
  padding-top: 40px;
  }
  #content[tabindex="-1"]:focus {
    outline: 0; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content, .entry-content, .entry-summary {
  margin: 1.5em 0 0; }

/* Post & pages style */
.post_meta_content {
  text-align: left;
  margin-bottom: 20px;
  font-size: .8em; }

.entry-header-no-sidebar .post_meta_content {
  text-align: center; }

.post_meta_content .meta_content:not(:first-child) {
  margin-left: 20px; }
  .post_meta_content .meta_content:not(:first-child):before {
    content: "/";
    margin-right: 20px; }
.post_meta_content .meta_content i {
  margin-right: 7px; }
.post_meta_content .meta_content .meta_link {
  color: var(--text-base); }
  .post_meta_content .meta_content .meta_link:visited {
    color: var(--text-base); }
  .post_meta_content .meta_content .meta_link:hover {
    text-decoration: none;
    color: var(--color2); }
  .post_meta_content .meta_content .meta_link:not(:last-child):after {
    content: ", "; }
.wptg-tagmeta { display: none!Important; }
.wptg-postmeta { display: none!Important; }
.wptg-view-more-btn { display: none!Important; }

/* Post & pages style */
/* Search Pages Style */
.post_listing {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .post_listing .post_listing_item {
    position: relative;
    display: block; }
  .post_listing img {
    max-width: 100%;
    display: block; }
  .post_listing .post_listing_thumb {
    align-self: flex-start;
    width: 165px; }
  .post_listing .post_listing_content {
    align-self: center;
    width: calc(100% - 165px); }
  .post_listing .entry-summary {
    margin-top: 5px; }
    .post_listing .entry-summary p {
      margin: 0; }
  .post_listing .post_meta_content {
    margin-bottom: 5px; }

/* Search Pages Style */
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comments-title {
  margin-bottom: 15px; }

/* Comment list */
.comment-list {
  padding: 20px 0; }

.comment-unit {
  border-top: solid 1px #D5D8DC;
  padding: 15px 0;
  margin-top: -1px; }

.comment-title-unit {
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap; }

.comment-avatar {
  width: 120px;
  align-self: flex-start; }

.comment-metadata {
  width: calc(100% - 120px); }

.comment-post-user {
  font-size: 1.2em; }

.comment-post-time {
  font-size: .7em;
  font-style: italic; }
  .comment-post-time:hover {
    text-decoration: none; }
  .comment-post-time:before {
    content: "\f017";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px; }

.comment-edit-list .list-inline-item:not(:last-child) {
  margin-right: 10px; }
.comment-edit-list li > a {
  font-size: .8em;
  font-style: italic;
  color: var(--text-base); }
  .comment-edit-list li > a:hover {
    color: var(--color2);
    text-decoration: none; }
.comment-edit-list .edit-link > a:before {
  content: "\f040";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 5px; }
.comment-edit-list .reply-link > a:before {
  content: "\f086";
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: 5px; }

.comment-comment-place {
  padding: 5px 0; }

/* Comment list */
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
#main_sidebar {
  color: var(--text-base);
  background: var(--background1); }

.wptg-sidebar .sidebar-widget-area {
  margin: 0 auto; }

.wptg-sidebar-left .wptg-sidebar .sidebar-widget-area h3, .wptg-sidebar-right .wptg-sidebar .sidebar-widget-area h3 {
  margin: 16px auto;
  text-align: left;
  font-family: var(--font1); }

.wptg-sidebar-right .wptg-sidebar-content{
	padding-right:15px;
}

.wptg-sidebar-left .wptg-sidebar-content{
	padding-left:15px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

.widget-single-area {
  padding: 15px 0; }

/*--------------------------------------------------------------
## Contact Form 7
--------------------------------------------------------------*/
.wpcf7 input, .wpcf7 textarea {
  max-width: 800px;
  width: 100%; }
.wpcf7 input[type="submit"] {
  cursor: pointer;
  border: 0;
  color: var(--background1);
  background: var(--color1);
  padding: 5px; }
.wpcf7 label {
  max-width: 800px;
  width: 100%; }

/*--------------------------------------------------------------
# Wptg Basics
--------------------------------------------------------------*/
.wptg-image-background {
  background-size: cover;
  background-position: center center; }

.wptg-excerpt {
  font-size: var(--F-p); }
  .wptg-excerpt p, .wptg-excerpt ul {
    margin: 0; }

.wptg-main-section h1, .wptg-main-section h2 {
  font-family: var(--font1);
  text-align: center;
  margin: 10px auto; }
.wptg-main-section .subtitle {
  font-family: var(--font2);
  text-align: center;
  margin: 10px auto; }

#wptg-main-content {
  background-color: var(--background1);
  color: var(--text-base); }

#wptg-main-page {
  margin: 0; }

.postpage-content {
  padding: 35px 15px; }

.wptg-title {
  font-family: var(--font1); }

.wptg-descripion {
  font-family: var(--font2); }

.entry-title {
  font-family: var(--font1);
  color: var(--heading-base); }

.entry-meta .entry-date, .entry-meta .author.vcard {
  font-weight: bold; }

.wptg-postmeta {
  @wptg (displayMeta); }

.wptg-tagmeta {
  @wptg (displayTag); }

.wrapped_page {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.49);
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.49); }

.container.wrapped_page {
  padding: 0; }

#navbar_container {
  position: relative;
  z-index: 4; }
  #navbar_container.wptg-fixed-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    height: auto;
    z-index: 100; }

.wptg-fixed-nav .wptg-navbar {
  border-bottom: solid 2px var(--color1);
  top: 0; }

#main_content {
	padding: 30px 30px 0 30px;
}

#action_content {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  #editable_page {
    padding: 0; }

  .container.wrapped_page {
    max-width: 100%;
    width: 100%; }

  /* h1 { 
    font-size: 1.5em; 
    font-weight: normal; 
  } */
  /* h2 { 
    font-size: var(--F-h2); 
    font-weight: normal; 
  } */
      /* h3 { 
        font-size: .8em; 
        font-weight: normal; 
      }
      h4 { 
        font-size: .8em; 
        font-weight: normal; 
      }
      h5 { 
        font-size: .8em; 
        font-weight: normal; 
      }
      h6 { 
        font-size: .8em; 
        font-weight: normal; 
      }

      p {
        font-size: .8em;
        line-height: 1.7;
        color: inherit;
      } */ }
@media screen and (max-width: 992px) {
  #content {
  	padding-left: 0;
  	padding-right: 0;
  }
  /* h1 { 
    font-size: 2em; 
    font-weight: normal; 
  } */
  /* h2 { 
    font-size: var(--F-h2); 
    font-weight: normal; 
  } */
      /* h3 { 
        font-size: .8em; 
        font-weight: normal; 
      }
      h4 { 
        font-size: .8em; 
        font-weight: normal; 
      }
      h5 { 
        font-size: .8em; 
        font-weight: normal; 
      }
      h6 { 
        font-size: .8em; 
        font-weight: normal; 
      }

      p {
        font-size: .8em;
        line-height: 1.7;
        color: inherit;
      } */ }
/* submenu for right navbar */
/*# sourceMappingURL=style.css.map */
/* Templates */
/* No Sidebar Template */
.entry-header-no-sidebar .entry-title, .entry-header-no-sidebar .entry-meta {
  text-align: center; }

/* No Sidebar Template */
/* Templates */

/*# sourceMappingURL=style.css.map */

/* WPTG HOVER */

.holy-sadie {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin:0;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
}
.holy-sadie:hover {
	transform: scale(0.95,0.95);
	-webkit-transform: scale(0.95,0.95);
	-moz-transform: scale(0.95,0.95);
	-o-transform: scale(0.95,0.95);
}

.holy-sadie .wptg-post-img {
	position: relative;
	z-index:1;
}

.holy-sadie .overlay-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	padding: 10px;
	display: block;
	background-color: transparent;
	z-index: 2;
	opacity: 0;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	overflow: hidden;
}
.holy-sadie .overlay-content .overlay-cape {
	background-color: #effcfb;
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
	transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	overflow: hidden;
	transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
}
.holy-sadie:hover .overlay-content {
	opacity: 1;
}
.holy-sadie:hover .overlay-cape {
	opacity: .6;
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
}


/* WPTG HOVER */

#main_sidebar {
  color: var(--text-base);
  background-color: var(--background1);
}

#wptg-main-sidebar .screen-reader-text {
  display: none;
}

#wptg-main-sidebar .sidebar-widget-area {
  margin-bottom: 30px;
  padding: 30px;
  border-bottom: 7px solid var(--color1);
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
}

#wptg-main-sidebar .sidebar-widget-title {
  color: var(--heading-base);
  font-family: var(--font1);
  margin-bottom: 10px;
  font-size: var(--F-h3);
}

#wptg-main-sidebar .sidebar-widget-area p {
  margin: 10px 0 15px 0;
  font-family: var(--font2);
}

#wptg-main-sidebar .search-form {
  position: relative;
}

#wptg-main-sidebar .search-form label {
  display: block;
  width: 100%;
}

#wptg-main-sidebar .search-field {
  width: 100%;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: normal;
  padding: 11px 12px;
  font-size: 0.8em;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px var(--color1);
  color: var(--text-base);
  font-family: var(--font2);
}

#wptg-main-sidebar .search-form .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  border: 0;
  color: var(--background1);
  background: var(--color1);
  padding: 0 15px;
}

#wptg-main-sidebar .search-form .search-submit:hover {
  background-color: var(--color2);
}

#wptg-main-sidebar .sidebar-widget-area ul {
  margin: 0 0 15px 0;
  padding-left: 0;
}

#wptg-main-sidebar .sidebar-widget-area ul > li {
  list-style-type: none;
  padding-bottom: 2px;
}

#wptg-main-sidebar .sidebar-widget-area ul > li > a {
  font-family: var(--font2);
  color: var(--text-base);
}

#wptg-main-sidebar .sidebar-widget-area ul > li > a:hover {
  color: var(--color1);
}

#wptg-main-sidebar .post-date {
  display: none;
}

#wptg-main-sidebar .tagcloud a {
  display: block;
  position: relative;
  font-family: var(--font2);
  color: var(--text-base);
  padding: 2px 7px 2px 20px;
  font-size: var(--F-p) !important;
}

#wptg-main-sidebar .tagcloud a:hover {
  color: var(--color1);
}

#wptg-main-sidebar .tagcloud a:before {
  content: "#";
  font-weight: bold;
  color: var(--color1);
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  padding: 2px 0;
  line-height: 1.4;
}

#wptg-main-sidebar b, #wptg-main-sidebar strong, #wptg-main-sidebar em, #wptg-main-sidebar mark, #wptg-main-sidebar small, #wptg-main-sidebar del, #wptg-main-sidebar ins, #wptg-main-sidebar sub, #wptg-main-sidebar sup, #wptg-main-sidebar caption {
  color: var(--text-base);
}
/*# sourceMappingURL=sidebar-candy.css.map */

/********************  ********************/

#overlay-section {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  cursor: pointer;
}

#overlay-section #overlay-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overlay-section #overlay-search .search-form-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
}

#overlay-section #overlay-search .search-form-navbar label {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 400px;
  width: calc(100vw - 200px);
}

#overlay-section #overlay-search .search-form-navbar label input {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: none;
  font-family: var(--font2);
}

#overlay-section #overlay-search .search-form-navbar button {
  display: block;
  width: 60px;
  /* padding: 0; */
  /* margin: 0; */
  border: 0;
  padding: 0;
  margin: 0;
  background-color: var(--color1);
}

#overlay-section #overlay-search .search-form-navbar button i {
  color: white;
}

#navbar-ablog {
  -webkit-box-shadow: 0px 6px 15px -8px var(--heading-base);
          box-shadow: 0px 6px 15px -8px var(--heading-base);
  background-color: var(--background1);
  border-bottom: none;
  position: relative;
  z-index: 2;
}

#navbar-ablog:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color2);
  opacity: 0.2;
  z-index: -1;
}

#navbar-ablog a.navbar-brand {
  display: none;
}

#navbar-ablog button.navbar-toggler {
  border: 1px solid var(--background1);
}

#navbar-ablog button.navbar-toggler i {
  color: var(--heading-base);
  font-size: 30px;
  height: 100%;
}

#navbar-ablog div.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  color: var(--heading-base);
  font-weight: 600;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
  color: var(--color2);
  font-weight: 600;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu {
  background-color: var(--heading-base);
  width: 120%;
  text-align: left;
  padding: 0;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li {
  position: relative;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item {
  font-size: 14px;
  color: var(--background1);
  padding: 10px 10px 10px 30px;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item:hover {
  background-color: var(--color2);
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub {
  position: relative;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub a.dropdown-item {
  color: var(--background1);
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub a.dropdown-item:hover {
  background-color: var(--color2);
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub ul.dropdown-sub-menu {
  background-color: var(--color2);
  list-style: none;
  padding: 0;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub ul.dropdown-sub-menu li {
  position: relative;
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub ul.dropdown-sub-menu li a {
  color: var(--background1);
}

#navbar-ablog div.navbar-collapse ul.navbar-nav li.nav-item ul.dropdown-menu li.dropdown-sub ul.dropdown-sub-menu li a:hover {
  background-color: var(--heading-base);
}
/*# sourceMappingURL=style.css.map */

/********************  ********************/



/********************  ********************/

#header-xxpp.socialbeat-header {
  padding: 10px 0;
  position: relative;
  background-color: transparent;
  text-align: center;
  position: relative;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-xxpp.socialbeat-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-base);
  opacity: .7;
}

@media (max-width: 992px) {
  #header-xxpp.socialbeat-header {
    padding-right: 50px;
  }
}

#header-xxpp.socialbeat-header .social-icons {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  color: var(--background1);
  width: 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-xxpp.socialbeat-header .social-icons li {
  color: var(--background1);
  cursor: pointer;
  margin-top: 10px;
}

#header-xxpp.socialbeat-header .social-icons li a {
  color: var(--background1);
}

#header-xxpp.socialbeat-header .socialbeat-header-titles {
  padding: 15px;
  display: block;
  width: 100%;
  max-width: 650px;
  position: relative;
  z-index: 2;
}

#header-xxpp.socialbeat-header h1 {
  font-size: 2rem;
  color: var(--background1);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: var(--font1);
}

#header-xxpp.socialbeat-header h3 {
  text-align: center;
  margin: 5px auto;
  line-height: 25px;
  font-size: 1rem;
  color: var(--background1);
  opacity: 0.9;
  font-family: var(--font2);
  line-height: 1.4;
}

#header-xxpp .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: var(--background1);
  text-align: center;
  background-color: var(--color1);
  border-radius: .25rem;
  border-color: var(--color1);
}
/*# sourceMappingURL=style.css.map */

/********************  ********************/



/********************  ********************/

#main-section-landscape {
  background-color: var(--background1);
  margin: 45px 0 45px 0;
}

#main-section-landscape a:link, #main-section-landscape a:visited, #main-section-landscape a:hover {
  text-decoration: none;
  color: var(--heading-base);
}

#main-section-landscape .align-items-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-section-landscape .category-box {
  --img-size: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 7px;
}

#main-section-landscape .category-box:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-color: var(--color2);
}

#main-section-landscape .category-box p {
  display: none;
  font-family: var(--font2);
  max-width: 75%;
  width: 200px;
  text-align: center;
}

#main-section-landscape .category-box .box-img {
  position: relative;
  width: 100%;
  height: var(--img-size);
  border-radius: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 7px;
}

#main-section-landscape .category-box .box-img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--heading-base);
  opacity: 0.5;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  #main-section-landscape .category-box .box-img {
    --img-size: 200px;
  }
}

#main-section-landscape .category-box .box-img .category-img-1, #main-section-landscape .category-box .box-img .category-img-2, #main-section-landscape .category-box .box-img .category-img-3, #main-section-landscape .category-box .box-img .category-img-4 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0;
}

#main-section-landscape .category-box .category-title, #main-section-landscape .category-box .category-title-2, #main-section-landscape .category-box .category-title-3, #main-section-landscape .category-box .category-title-4 {
  position: absolute;
  text-align: center;
  margin: 0;
  font-family: var(--font1);
  font-size: 1.5rem;
  z-index: 5;
  padding: 5px 10px;
  bottom: 5%;
  left: 5%;
  color: var(--background1);
  width: calc(95% - 10px);
}

#main-section-landscape .category-box .category-title:link, #main-section-landscape .category-box .category-title:visited, #main-section-landscape .category-box .category-title:hover, #main-section-landscape .category-box .category-title-2:link, #main-section-landscape .category-box .category-title-2:visited, #main-section-landscape .category-box .category-title-2:hover, #main-section-landscape .category-box .category-title-3:link, #main-section-landscape .category-box .category-title-3:visited, #main-section-landscape .category-box .category-title-3:hover, #main-section-landscape .category-box .category-title-4:link, #main-section-landscape .category-box .category-title-4:visited, #main-section-landscape .category-box .category-title-4:hover {
  text-decoration: none;
  color: var(--background1);
}

#main-section-landscape .col-6 {
  padding: 15px;
}

@media screen and (max-width: 479px) {
  #main-section-landscape .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */

/********************  ********************/



/********************  ********************/

#action_content {
  margin-top: 0;
}

#action-panorama .action-panorama-container {
  display: block;
  position: relative;
  padding: 3em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow:0 0 20px 10px rgba(0, 0, 0, 0.04);
}

#action-panorama .action-panorama-container .action-panorama-main-content {
  position: relative;
  z-index: 10;
  max-width: 650px;
  padding: 10px;
  color: var(--text-base);
  text-align: center;
  width: 100%;
}

/* TITLES */
  #action-panorama .action-panorama-container .panorama-title {
    font-family: var(--font1);
    margin-bottom: 20px;
    color: var(--text-base);
  }

  #action-panorama .action-panorama-container .panorama-subtitle {
    font-family: var(--font2);
    margin-bottom: 15px;
    color: var(--text-base);
    font-weight: 300;
  }
/* TITLES */

/* BUTTON */
  #action-panorama .action-panorama-container .panorama-button {
    position: relative;
    text-transform: uppercase;
    color: var(--text-base);
    font-family: var(--font1);
    display: table;
    margin: 0 auto;
    padding-bottom: 5px;
  }
  #action-panorama .action-panorama-container .panorama-button:hover {
    text-decoration: none;
  }

  #action-panorama .action-panorama-container .panorama-button:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--text-base);
    margin: 0 auto;
    transition: width .2s ease-in-out;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
  }

  #action-panorama .action-panorama-container .panorama-button:hover.panorama-button:before {
    width: 70%;
  }
/* BUTTON */

/********************  ********************/



/********************  ********************/

#footer-adagio {
  position: relative;
  clear: left;
  padding-top: 1px;
  background-color: var(--background1);
  color: var(--text-base);
}

#footer-adagio .footer-adagio-content {
  margin-top: 80px;
  width: 100%;
  position: relative;
}

#footer-adagio .footer-adagio-content b, #footer-adagio .footer-adagio-content strong, #footer-adagio .footer-adagio-content em, #footer-adagio .footer-adagio-content mark, #footer-adagio .footer-adagio-content small, #footer-adagio .footer-adagio-content del, #footer-adagio .footer-adagio-content ins, #footer-adagio .footer-adagio-content sub, #footer-adagio .footer-adagio-content sup, #footer-adagio .footer-adagio-content caption, #footer-adagio .footer-adagio-content a, #footer-adagio .footer-adagio-content p {
  color: var(--text-base);
  font-family: var(--font2);
  line-height: 2;
  font-size: calc(var(--fontsp) - .1rem);
}

#footer-adagio .footer-adagio-stylizer {
  border: solid 2px var(--text-base);
  margin: 0;
  width: 100%;
  opacity: 0.1;
}

#footer-adagio .menu-social {
  margin-top: -25px;
}

#footer-adagio .adagio-menu-social {
  list-style: none;
  margin: 0;
  text-align: center;
}

#footer-adagio .adagio-menu-social li {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

#footer-adagio .adagio-menu-social li > a {
  display: block;
  padding: 7px;
  border-radius: 100%;
  color: var(--heading-base);
  width: 45px;
  height: 46px;
  font-size: 26px;
  line-height: 1.16;
  font-family: FontAwesome;
  background-color: var(--background1);
}

#footer-adagio li {
  list-style-type: none;
  font-size: .8rem;
}

#footer-adagio ul {
  padding: 0;
}

#footer-adagio .footer-adagio-content a {
  color: var(--text-base);
}

#footer-adagio .footer-adagio-content a:hover {
  color: var(--color2);
  text-decoration: none;
}

#footer-adagio a:focus {
  color: var(--color2);
  text-decoration: none;
}

#footer-adagio .footer-adagio-content a:visited {
  opacity: 0.7;
}

#footer-adagio .adagio-footer-content {
  margin: 20px auto;
}

#footer-adagio .adagio-footer-content .adagio-widget-title {
  color: var(--heading-base);
  font-family: var(--font1);
  font-size: calc(var(--fontsp) + .3rem);
}

#footer-adagio .adagio-left {
  text-align: left;
}

#footer-adagio .adagio-left .adagio-widget-title, #footer-adagio .adagio-left p, #footer-adagio .adagio-left li {
  text-align: left;
}

#footer-adagio .adagio-right {
  text-align: right;
}

#footer-adagio .adagio-right .adagio-widget-title, #footer-adagio .adagio-right p, #footer-adagio .adagio-right li {
  text-align: right;
}

#footer-adagio .adagio-footer-note {
  text-align: center;
  padding: 10px;
  font-family: var(--font2);
  font-size: calc(var(--fontsp) - .15rem);
}

@media (max-width: 767px) {
  #footer-adagio .footer-panel {
    margin-bottom: 70px;
  }
}
/*# sourceMappingURL=style.css.map */

/********************  ********************/



/********************  ********************/

:root {
  --font-s1: 1.5em/* F-h2 */;
}

#latest-posts-classy {
  background-color: var(--background1);
  color: var(--text-base);
}

#latest-posts-classy .wptg-post-main-title {
  color: var(--heading-base);
}

#latest-posts-classy .classy-ind-post {
  margin: 10px auto;
}

#latest-posts-classy .post-classy-title {
  color: var(--heading-base);
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: 100px;
  max-width: 500px;
  margin-bottom: 0 auto;
}

#latest-posts-classy .classy-title {
  color: var(--heading-base);
  font-family: var(--font1);
  margin: 10px auto;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  text-align: left;
}

#latest-posts-classy .classy-title:hover, #latest-posts-classy .classy-title:link {
  text-decoration: none;
  color: var(--color2);
  cursor: pointer;
}

#latest-posts-classy a.hoverable-post {
  color: var(--heading-base);
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

#latest-posts-classy a.hoverable-post:hover, #latest-posts-classy a.hoverable-post:link, #latest-posts-classy a.hoverable-post:visited {
  text-decoration: none;
  color: var(--color2);
  cursor: pointer;
}

#latest-posts-classy .classy-text {
  font-family: var(--font2);
  margin: 0 0 15px 0;
  text-align: left;
}

#latest-posts-classy .class-post-ind {
  margin: 60px auto;
}

#latest-posts-classy .class-post-ind:first-child {
  margin-top: 0;
}

#latest-posts-classy .img-classy-post {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
}

#latest-posts-classy .center-classy-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 700px;
}

#latest-posts-classy .classy-see-more a {
  color: var(--heading-base);
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  visibility: hidden;
}

#latest-posts-classy .wptg-tags {
  padding: 5px 0;
  list-style-type: none;
  margin: 0;
}

#latest-posts-classy .wptg-tags li {
  display: inline-block;
  margin-top: 5px;
}

#latest-posts-classy .wptg-post-list-tag {
  position: relative;
  font-size: .7rem;
  font-family: var(--font2);
  margin-right: 5px;
  color: var(--background1);
  background-color: var(--color1);
  padding: 2px 7px 2px 21px;
  border: solid 1px var(--color1);
  cursor: pointer;
}

#latest-posts-classy .wptg-post-list-tag:before {
  font-family: FontAwesome;
  content: "\f02b";
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  padding: 2px 0;
  line-height: 1.4;
}

#latest-posts-classy .wptg-post-list-tag:hover {
  background-color: var(--color2);
  border: solid 1px var(--color2);
  text-decoration: none;
}

#latest-posts-classy .wptg-categories {
  padding: 5px 0;
  list-style-type: none;
  margin: 0;
}

#latest-posts-classy .wptg-categories li {
  display: inline-block;
  margin-top: 5px;
}

#latest-posts-classy .wptg-category-link {
  position: relative;
  font-size: .7rem;
  font-family: var(--font2);
  text-transform: lowercase;
  margin-right: 5px;
  color: var(--background1);
  padding: 2px 7px 2px 21px;
  border: solid 1px var(--color1);
  background-color: var(--color1);
  cursor: pointer;
}

#latest-posts-classy .wptg-category-link:before {
  font-family: FontAwesome;
  content: "\f1db";
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  padding: 2px 0;
  line-height: 1.4;
}

#latest-posts-classy .wptg-category-link:hover {
  background-color: var(--color2);
  border: solid 1px var(--color2);
  text-decoration: none;
}

#latest-posts-classy .nav-links {
  margin: 0 auto;
}

#latest-posts-classy .wptg-pagination-nav {
  padding: 10px 0;
}

#latest-posts-classy .wptg-pagination-nav .page-numbers {
  color: var(--heading-base);
  opacity: .8;
}

#latest-posts-classy .wptg-pagination-nav .page-numbers:hover {
  opacity: 1;
  text-decoration: none;
}

#latest-posts-classy .wptg-pagination-nav .page-numbers.current {
  opacity: 1;
  font-weight: bold;
}

#latest-posts-classy .wptg-pagination-nav .page-numbers.prev:before {
  font-family: FontAwesome;
  content: "\f060";
}

#latest-posts-classy .wptg-pagination-nav .page-numbers.next:before {
  font-family: FontAwesome;
  content: "\f061";
}

#latest-posts-classy .wptg-pagination-nav .nav-links {
  color: var(--text-base);
}

#latest-posts-classy .wptg-pagination-nav span {
  color: var(--text-base);
}

#latest-posts-classy .wptg-pagination-nav p {
  color: var(--text-base);
}

#latest-posts-classy .wptg-post-ind:nth-child(2n+1) .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=style.css.map */

/********************  ********************/

