a {
  color: var(--color1);
  &:visited {
    color: var(--text-base);
  }
  &:hover, &:focus, &:active {
    color: var(--color1);
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover, &:active {
    outline: 0;
  }
}