#main_sidebar {
  color: var(--text-base);
  background: var(--background1);
}

.wptg-sidebar {
  .sidebar-widget-area {
    margin: 0 auto;
  }
}

.wptg-sidebar-left .wptg-sidebar .sidebar-widget-area h3, .wptg-sidebar-right .wptg-sidebar .sidebar-widget-area h3 {
  margin: 16px auto;
  text-align: left;
  font-family: var(--font1);
}

#main_sidebar {
	color: var(--text-base);
	background-color: var(--background1);
  }
  
  #wptg-main-sidebar {
	.screen-reader-text {
	  display: none; 
	}
	.sidebar-widget-area {
	  margin-bottom: 30px;
	  padding: 30px;
	  border-bottom: 7px solid var(--color1);
	  border-radius: 4px;
	  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
	  -moz-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
	  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.04);
	}
	.sidebar-widget-title {
	  color: var(--heading-base);
	  font-family: var(--font1);
		margin-bottom: 10px;
		font-size: var(--F-h3);
	}
	.sidebar-widget-area p {
	  margin: 10px 0 15px 0;
	  font-family: var(--font2);
	}
	.search-form {
	  position: relative;
	  label {
		display: block;
		width: 100%;
	  }
	}
	.search-field {
	  width: 100%;
	  font-size: 12px;
	  font-size: 1.2rem;
	  line-height: normal;
	  padding: 11px 12px;
	  font-size: 0.8em;
	  box-shadow: none;
	  border: solid 1px var(--color1);
	  color: var(--text-base);
	  font-family: var(--font2);
	}
	.search-form .search-submit {
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 100%;
	  cursor: pointer;
	  border: 0;
	  color: var(--background1);
	  background: var(--color1);
	  padding: 0 15px;
	  &:hover {
		background-color: var(--color2);
	  }
	}
	.sidebar-widget-area ul {
	  margin: 0 0 15px 0;
	  padding-left: 0;
	  > li {
		list-style-type: none;
		padding-bottom: 2px;
		> a {
		  font-family: var(--font2);
		  color: var(--text-base);
		  &:hover {
			color: var(--color1);
		  }
		}
	  }
	}
	.post-date {
	  display: none;
	}
	.tagcloud a {
	  display: block;
	  position: relative;
	  font-family: var(--font2);
	  color: var(--text-base);
	  padding: 2px 7px 2px 20px;
	  font-size: var(--F-p) !important;
	  &:hover {
		color: var(--color1);
	  }
	  &:before {
		content: "#";
		font-weight: bold;
		color: var(--color1);
		position: absolute;
		left: 5px;
		top: 0;
		height: 100%;
		padding: 2px 0;
		line-height: 1.4;
	  }
	}
	b, strong, em, mark, small, del, ins, sub, sup, caption {
	  color: var(--text-base);
	}
  }